<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997291090883-b53beias356i9ipq396mlle2cikqentl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997291090883-b53beias356i9ipq396mlle2cikqentl</string>
	<key>API_KEY</key>
	<string>AIzaSyD1jABZLxYvs92Lep1yM_5euiDLvXaMcB8</string>
	<key>GCM_SENDER_ID</key>
	<string>997291090883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.teamProject</string>
	<key>PROJECT_ID</key>
	<string>sharebby-1161f</string>
	<key>STORAGE_BUCKET</key>
	<string>sharebby-1161f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997291090883:ios:87fe754d8cb2fd79b01376</string>
</dict>
</plist>